<% content_for :head_css do %>
  <%= stylesheet_link_tag 'pages/users/profile/show' %>
<% end %>
<div class="container-fluid main-content px-4">
    <div class="row">
        <%= render 'shared/user_sidebar'%>
        <div class="col-lg-9">
            <div class="profile-workspace row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4">
                <div class="col col-lg-12 d-flex flex-column">
                    <div class="d-flex align-items-center mb-4 profile-avatar">  
                        <% if user.avatar.present? %>
                            <%= image_tag user.avatar.url, class: "rounded-circle me-3 user-avatar", alt: "Avatar"%>
                        <% else %>
                            <%= image_tag "default-avt.png", class: "rounded-circle me-3 user-avatar", alt: "Avatar"%>
                        <% end %>
                        <div>
                            <div class="card-body">
                                <% if current_user == user %>
                                    <%= link_to 'Edit Profile', edit_users_profile_path, class: 'btn btn-primary edit-profile' %>
                                <% else %>
                                    <% follow_label = current_user.followings.include?(user) ? 'Following' : 'Follow' %>
                                    <div class="is-following follow-btn" data-controller="follow" data-action="click->follow#toggle">
                                    <p class="following-text follow-text-label" data-follow-target="label"><%= follow_label %></p>
                                    </div>
                                <% end %>
                            </div>
                            <h2 class="fw-bold mb-0"><%= user.first_name %> <%= user.last_name %></h2>
                        <div class="mt-1 d-flex align-items-center gap-3 profile-stats">
                            <div class="tab photo-tab <%= 'active' if params[:tab] == 'photos' || params[:tab].blank? %>">
                                <%= link_to users_profile_path(user, tab: 'photos') do %>
                                    <span class="count-number"><%= user.photos.size %></span>
                                    <span class="fw-bold count-label">PHOTOS</span>
                                <% end %>
                            </div>

                            <div class="tab album-tab <%= 'active' if params[:tab] == 'albums' %>">
                                <%= link_to users_profile_path(user, tab: 'albums') do %>
                                    <span class="count-number"><%= user.albums.size %></span>
                                    <span class="fw-bold count-label">ALBUMS</span>
                                <% end %>
                            </div>
                            <div class="tab album-tab <%= 'active' if params[:tab] == 'followings' %>">
                                <%= link_to users_profile_path(user, tab: 'followings') do %>
                                    <span class="count-number"><%= user.followings.size %></span>
                                    <span class="fw-bold count-label">FOLLOWINGS</span>
                                <% end %>
                            </div>
                            <div class="tab album-tab <%= 'active' if params[:tab] == 'followers' %>">
                                <%= link_to users_profile_path(user, tab: 'followers') do %>
                                    <span class="count-number"><%= user.followers.size %></span>
                                    <span class="fw-bold count-label">FOLLOWERS</span>
                                <% end %>
                            </div>
                        </div>
                        </div>
                    </div>
                    <% case params[:tab] %>
                    <% when 'albums' %>
                        <%= render partial: 'users/profiles/tabs/album', locals: { user: user}%>
                    <% when 'photos' %>
                        <%= render partial: 'users/profiles/tabs/photo', locals: {user: user}%>
                    <% when 'followers'%>
                        <%= render partial: 'users/profiles/tabs/follower'%>
                    <% when 'followings'%>
                        <%= render partial: 'users/profiles/tabs/following'%>
                    <% else%>   
                        <%= render partial: 'users/profiles/tabs/photo', locals: {user: user}%>
                    <%end%>
                </div>
            </div>

            <nav aria-label="Page navigation example" class="mt-4 d-flex justify-content-center">
                <ul class="pagination">
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>