<%= turbo_frame_tag "#{dom_id(likeable)}_like" do %>
  <%if user_signed_in?%>
      <% if current_user.liked?(likeable) %>
      <%= button_to [:users, likeable, :like], method: :delete,
          data: { turbo_action: "replace" },
          class: "heart-button liked" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
            class="bi bi-heart-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
        </svg>
        <span class="heart-count"><%= likeable.likes_count %></span>
      <% end %>
    <% else %>
      <%= button_to [:users, likeable, :like], method: :post,
          data: { turbo_action: "replace" },
          class: "heart-button" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
            class="bi bi-heart" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
        </svg>
        <span class="heart-count"><%= likeable.likes_count %></span>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path, class: "heart-button", data: { turbo: false } do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
          class="bi bi-heart" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
      </svg>
      <span class="heart-count"><%= likeable.likes_count %></span>
    <% end %>
  <%end%>
<% end %>
