<% content_for :head_css do %>
  <%= stylesheet_link_tag 'pages/admin/album/index' %>
<% end %>
<div class="container-fluid main-content px-4">
    <div class="row">
        <%= render 'shared/admin_sidebar'%>
        <div class="col-lg-9">
            <div class="admin-workspace ">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                    <% if @albums.present? %>
                        <% @albums.each do |album| %>
                            <div class="col d-flex justify-content-center">
                                <div class="album-post">
                                    <div class="album-stack"
                                        data-bs-toggle="modal"
                                        data-bs-target="#albumImageModal"
                                        data-album-title="<%= album.title %>"
                                        data-album-description="<%= album.description %>"
                                        data-album-images="<%= album.photos.map { |p| url_for(p.featured_image.url) }.to_json %>">
                                        <% if album.photos.any? %>
                                            <%= image_tag album.photos.first.featured_image.url, class: "album-thumbnail-img album-img-front" %>
                                            <%= image_tag album.photos.first.featured_image.url, class: "album-thumbnail-img album-img-middle" %>
                                            <%= image_tag album.photos.first.featured_image.url, class: "album-thumbnail-img album-img-back" %>
                                        <% end %>
                                        <div class="album-title">
                                            <span class="album-title-text"><%= album.title %></span>
                                            <%= link_to edit_admin_dashboard_album_path(album), class: "album-edit-btn ms-2", title: "Edit" do %>
                                                <img src="<%= asset_path('edit-button.png') %>" alt="">
                                            <% end %>
                                        </div>
                                    </div>                        
                                </div>
                            </div>   
                        <%end%>
                    <%end%>
                </div>
                <div>
                    <%= paginate @albums%>
                </div>
            </div>
        </div>
    </div>
</div>
