<div class="row g4">
    <% user.followings.each do |user|%>
    <div class="col-md-3">
        <div class="user-card text-center shadow-sm">
            <% if user.avatar.present? %>
                <%= image_tag user.avatar.url, class: "rounded-circle following-avatar"%>
            <% else %>
                <%= image_tag "default-avt.png", class: "rounded-circle following-avatar"%>
            <% end %>
            <div class="card-body">
                <%= link_to users_profile_path(user), class: "text-decoration-none" do%>
                    <h6 class="mb-1"><%=user.first_name%><%=user.last_name%></h6>
                    <div class="text-primary mb-2">
                        <div class="d-flex justify-content-between">
                            <div class="photo-count me-3"> 
                                <span class="fw-bold d-block count-number"><%=user.photos.count%></span> <span class="d-block count-label">PHOTOS</span>
                            </div>
                            <div class="album-count"> <span class="fw-bold d-block count-number"><%=user.albums.count%></span>
                                <span class="d-block count-label">ALBUMS</span>
                            </div>
                        </div>
                    </div>
                <%end%>
                <div class="card-body">
                    <%= render partial: "shared/follow_button", locals: {user: user} %>
                </div>
            </div>            
        </div>
    </div>
    <%end%>
</div>