<%= form_with model: @photo, url: form_url, method: form_method, local: true do |form| %>
  <div class="d-flex justify-content-between">
    <div class="g-4">
      <div class="mb-3">
        <%= form.label :title, class: "form-label" %>
        <%= form.text_field :title, class: "form-control", placeholder: "..." %>
      </div>

      <div class="mb-3">
        <%= form.label :mode, class: "form-label" %>
        <%= form.select :mode, [
          ['Public', 'public_mode'],
          ['Private', 'private_mode']
        ], { selected: @photo.mode || 'public_mode' }, { class: "form-select" } %>
      </div>

      <% label_class = "add-photo-placeholder" %>
      <% label_class += " attached" if @photo.featured_image.present? %>
      <%= form.label :featured_image, class: label_class, data: { controller: "image-preview"} do %>
        <% image_class = "photo-preview img-fluid rounded" %>
        <% if @photo.featured_image.present? %>
          <% image_class += " attached-image" %>
          <%= image_tag @photo.featured_image.url,
              class: image_class,
              data: {
                image_preview_target: "preview",
                action: "image-preview#previewImage",
                placeholder: asset_path("plus_icon.png")
              } %>
        <% else %>
          <% image_class += " placeholder-image" %>
          <%= image_tag asset_path("plus_icon.png"),
              alt: "Preview",
              class: image_class,
              data: {
                image_preview_target: "preview",
                action: "image-preview#previewImage",
                placeholder: asset_path("plus_icon.png")
              } %>
        <% end %>

        <%= form.file_field :featured_image, accept: "image/*", class: "photo-input d-none",
            data: {
              action: "image-preview#previewImage",
              image_preview_target: "input"
            } %>

        <button type="button" class="btn-remove-photo" data-image-preview-target="remove" data-action="image-preview#clearImage">
          <img src="<%= asset_path 'close_icon.png' %>" alt="Remove" />
        </button>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_area :description, class: "form-control description", rows: 8, placeholder: "..." %>
    </div>
  </div>

  <div class="d-flex gap-3 submit">
    <%= form.submit "Save", class: "btn btn-success" %>

    <% if form_method == :patch %>
      <%= link_to "Delete", users_photo_path(@photo),
          method: :delete,
          data: { confirm: "Are you sure you want to delete this photo?" },
          class: "btn btn-danger" %>
    <% end %>
  </div>
<% end %>
