<% content_for :head_css do %>
  <%= stylesheet_link_tag 'pages/admin/photo/index' %>
<% end %>
<div class="container-fluid main-content px-4">
    <div class="row">
        <%= render 'shared/admin_sidebar'%>
        <div class="col-lg-9">
            <div class="admin-workspace ">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                    <%if @photos.present?%>
                        <% @photos.each do |photo|%>
                            <div class="col d-flex justify-content-center">
                                <div class="card-post d-flex">
                                    <div class="card-img-top">
                                        <% if photo.featured_image.present? %>
                                            <img src="<%= url_for(photo.featured_image.url) %>"
                                            class="img-thumbnail-click"
                                            alt="Post Image"
                                            data-bs-toggle="modal"
                                            data-bs-target="#imageModal"
                                            data-image-src= "<%= url_for(photo.featured_image.url) %>">
                                        <%end%>
                                        <div class="photo-title">
                                            <span class="photo-title-text"><%= photo.title %></span>
                                            <%= link_to edit_admin_dashboard_photo_path(photo), class: "photo-edit-btn ms-2", title: "Edit" do %>
                                                <img src="<%= asset_path('edit-button.png') %>" alt="">
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <%end%>
                    <%end%>
                </div>
                <div class="paginate-bar">
                    <%= paginate @photos%>
                </div>
            </div>
            
        </div>
    </div>
</div>
