<% content_for :head_css do %>
  <%= stylesheet_link_tag "pages/auth/sessions_new", media: "all" %>
<% end %>

  <nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid px-4">
        <a class="navbar-brand fw-bold col-lg-2" href="#">Fotobook</a>
        <div class="d-flex justify-content-between w-100">
            <form class="d-flex me-3">
                <input class="search-controll me-2" type="search" placeholder="Search Photo / Album" aria-label="Search">
            </form>
            <ul class="navbar-nav mb-2 mb-lg-0 col-lg-1">
                <li class="nav-item">
                    <%= link_to 'Register', new_user_registration_path, class: "nav-link"%>
                </li>
            </ul>
        </div>
    </div>
  </nav>
  <div class="container-fluid d-flex justify-content-center align-items-center min-vh-100 bg-light">
      <div class="col-12 col-sm-8 col-md-6 col-lg-3 login-form">
          <h2 class="text-center mb-4 login-title text-muted">Fotobook Login</h2>

          <div class="card p-3 mb-3 shadow-sm social-login-card">
              <div class="d-flex justify-content-around">
                  <%= link_to user_google_oauth2_omniauth_authorize_path, class: "social-icon" do %>
                    <img src="<%= asset_path('gg-lg.png') %>" alt="Google Logo">
                  <% end %>
                  <a href="#" class="social-icon">
                      <img src="<%= asset_path 'fb-lg.png'%>" alt="Facebook Logo">
                  </a>
                  <a href="#" class="social-icon">
                      <img src="<%= asset_path 'tw-lg.png'%>" alt="Twitter Logo">
                  </a>
              </div>
          </div>

          <div class="card p-4 shadow-sm">
              <div class="text-center mb-3">
                  <div class="user-placeholder-icon">
                      <i class="fa-solid fa-user-slash"></i>
                  </div>
              </div>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-signin" }) do |f| %>
                <div class="mb-3">
                  <%= f.email_field :email, class: "form-control", placeholder: "Email", required: true, autofocus: true, autocomplete: "email" %>
                </div>
                <div class="mb-3">
                  <%= f.password_field :password, class: "form-control", placeholder: "Password", required: true, autocomplete: "current-password" %>
                </div>
                <% if devise_mapping.rememberable? %>
                  <div class="form-check mb-3">
                    <%= f.check_box :remember_me, class: "form-check-input" %>
                    <%= f.label :remember_me, class: "form-check-label" %>
                  </div>
                <% end %>
                <div class="d-grid gap-2 mb-3">
                  <%= f.submit "Login", class: "btn btn-primary btn-lg" %>
                </div>
              <% end %>
              <%= render "devise/shared/links" %> 
          </div>
      </div>
  </div>