<% content_for :head_css do %>
  <%= stylesheet_link_tag 'components/modal' %>
<% end %>
<turbo-frame id="album_modal">
<div class="modal fade show d-block" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-modal="true" style="background: rgba(0,0,0,0.7);" role="dialog">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= album.title %></h5>
          <%= link_to "X", close_modal_users_albums_path, data: { turbo_frame: "album_modal" }%>
      </div>
      <div class="modal-body">
        <div id="carouselAlbumModal" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% photos.each_with_index do |photo, index| %>
              <div class="carousel-item <%= 'active' if index == 0 %>">
                <%= image_tag photo.featured_image.url, class: "d-block w-100" %>
              </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselAlbumModal" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselAlbumModal" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
          </button>
        </div>
        <p class="m-2"><%= album.description %></p>
      </div>
    </div>
  </div>
</div>
</turbo-frame>
